
/*Style for navbar*/
.logo{
	width:200;
	height: 100px;
}
.navbar-expand-lg{
	padding-left: 180px;
}

.active>a{
	text-decoration: underline;
	text-decoration-color: orange;
	color: blue;

}
.navbar-light .navbar-nav .active>.nav-link{
	color: blue;
}
.active>a:hover{
	text-decoration: underline;
}
.navbar-light .navbar-nav .active>.nav-link{
	color: black;
}

@media only screen and (max-width: 1200px){
.logo{
	width:140;
	height: 100px;
}	
.navbar-expand-lg{
	padding-left: 150px;
}

}
@media only screen and (max-width: 600px){
	.logo{
	width:50;
	height: 100px;
}	
.navbar-expand-lg{
	padding-left: 30px;
}

}
/*End style Navbar*/

.wave{
	width: 100%;
	height: 500px;
}

.center{
	position: absolute;
	top: 25%;
	left: 25%;
	color: white;
}
.horizintalline{
	border-top: 1px solid white;
}
.center2{
	position: absolute;
	top: 53%;
	left: 25%;
	color: white;
	font-size: 18px;
}

.bt-our{
	background-color: #E98923;
	width: 300px;
	height: 46px;
	position: absolute;
	top: 72%;
	left: 38%;
	border-style: none;
}
.bt-our:hover{
	background-color: #cc9000;
}
.btn-content{
	color: white;
	font-size: 22px;
}

.body-col{
	background-color: #EAEAEA;
	width: 100%;
}

.colstyle{
	padding-left: 18%;


}
.bodycol{
	background-color: white;
	width: 300px;
}
.logocol{
	padding-top: 50px;
	padding-left: 30%;

}
.headername{
	font-size: 18px;
	padding-left: 41%;
}
.bodyname{
	font-size: 14px;
	padding-left: 22%;
	padding-right: 8%;
	padding-bottom: 80px;
}
.bodyname2{
	padding-left: 28%;
}

.company{
	border-top: 1px solid #8c8c8c;
	margin-top: -15px;
	width: 100%;
	background-color: white;
}
.header-company{
	text-align: center;
	padding-top: 16px;
	font-size: 18px;
	color: #4DADF5;
}
.footer{
	margin-left: 20%;
}
.imgfooter{
	padding-left: 25px;
}
.center1{
	position: absolute;
	top: 15%;
	left: 30%;
	color: white;


}
.center3{
	position: absolute;
	top: 30%;
	left: 29%;
	color: white;
	font-size: 18px;
}
.come1{
	padding-right: 25px;
}
.come2{
	
	float: right;
}

.bodyname2{
	padding-left: 30%;
}
.center4{
	position: absolute;
	top: 55%;
	left: 33%;	
}
.center5{
	position: absolute;
	top: 61%;
	left: 35%;		
}
.center6{
   position: absolute;
	top: 64%;
	left: 40%;
	bottom: -50px;
	color: orange;	
}